{% extends "game_layout.html" %}

{% block mapscript %}
<script type="module" src="/static/game_map_geo_game.js"></script>
{% endblock %}

{% block main %}

<div class="container-bottom-map" id="map" 
    map-lat="{{ get_geo_game_active.geo_game_loc_view_lat}}"
    map-lng="{{ get_geo_game_active.geo_game_loc_view_lng }}" 
    map-lat-offset="{{ get_geo_game_active.geo_game_loc_lat_game_offset }}" 
    map-zoom="18">

    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "{{ map_api_key }}", v: "beta" });</script>

</div>

<div class="container-bottom-image-main">

    <div class="container-bottom-image-top">
        <div class="container-bottom-image-top-left">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <div style="padding-right: 6px;">
                    <span class="material-symbols-outlined" style="font-size: 26px;">travel_explore</span>
                </div>
                <div>
                    Geofinder #: {{ get_geo_game_active.geo_game_geofinder_date }}<br>
                    {{ get_geo_game_active.geo_game_loc_city }}, {{ get_geo_game_active.geo_game_loc_state }} {{ get_geo_game_active.geo_game_loc_country }}
                </div>
            </div>
        </div>
        <div class="container-bottom-image-top-right">
        </div>
    </div>

    <img src="{{ get_geo_game_active.geo_game_loc_image_source }}" width="400px"><br>

    <div class="container-bottom-image-source">
        <a href="{{ get_geo_game_active.geo_game_loc_url_source }}" target="_blank" rel="noopener noreferrer">source</a>
    </div>

    <div class="container-bottom-image-buttons">
        <div class="container-bottom-image-buttons-left">
            <div class="container-bottom-image-buttons-new">
                <form name="submit" action="/geofinder/game" method="post">
                    <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                    <input type="hidden" name="goto" class="hidden-field" value="dash_geofinder"></input>
                    <input type="hidden" name="try-again" class="hidden-field" value="0"></input>
                    <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                    <input type="hidden" name="bttn" class="hidden-field" value="pause"></input>
                    <button name="router" class="bttn bttn-small bttn-primary" type="submit">
                        Pause Search
                    </button>
                </form>
            </div>
        </div> 
        <div class="container-bottom-image-buttons-right">
            <div class="container-bottom-image-buttons-quit" style="padding-right: 12px;">
                <form name="submit" action="/geofinder/game" method="post">
                    <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                    <input type="hidden" name="goto" class="hidden-field" value="zero"></input>
                    <input type="hidden" name="try-again" class="hidden-field" value="0"></input>
                    <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                    <input type="hidden" name="bttn" class="hidden-field" value="quit"></input>
                    <button name="router" class="bttn bttn-small bttn-naked" style="color: gray;" type="submit">
                        Quit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    window.addEventListener('beforeunload', function(e) {
        // The data to send
        var data = JSON.stringify({
            message: '8dc4ed2b-4e99-45f7-a6a2-319ccb31d17d'
        });
    
        // The URL of your endpoint
        var url = '/disconnect/geofinder';
    
        // Send the beacon
        // navigator.sendBeacon(url, data);
        
        // Send the request
        fetch(url, {
            method: 'POST',
            body: data,
            keepalive: true
        });

    });
</script>

{% endblock %}