{% extends "game_layout.html" %}

{% block mapscript %}
<script type="module" src="/static/game_map_general.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block main %}

<div class="container-bottom-map" id="map" map-lat="41.85732" map-lng="-87.778546" map-zoom="17">

    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "{{ map_api_key }}", v: "beta" });</script>

</div>

<div class="container-bottom-general-main">

    <div class="container-bottom-general-top">
    </div>

    <div class="container-bottom-general-bottom">

        <!-- General Content -->
        <div class="container-bottom-general-content">

            <!-- Page -->
            <div class="pages">

                <!-- Page - Breadcrumb -->
                <div class="pages-breadcrumb">
                    
                    <form name="submit" action="/nav" method="post">
                        <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                        <input type="hidden" name="goto" class="hidden-field" value="index"></input>
                        <input type="hidden" name="nav" class="hidden-field" value="yes"></input>
                        <input type="hidden" name="bttn" class="hidden-field" value="index"></input>
                        <button name="breadcrumb" class="bttn bttn-xsmall bttn-naked" type="submit">Start</button>
                    </form>

                    <form>
                        <button class="bttn bttn-separator" type="submit" disabled>/</button>
                    </form>

                    <form name="submit" action="/dash/geofinder" method="post">
                        <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                        <input type="hidden" name="goto" class="hidden-field" value="dash"></input>
                        <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                        <input type="hidden" name="bttn" class="hidden-field" value="dash"></input>
                        <button name="breadcrumb" class="bttn bttn-xsmall bttn-naked" type="submit">Dashboard</button>
                    </form>

                    <form>
                        <button class="bttn bttn-separator" type="submit" disabled>/</button>
                    </form>

                    <form name="submit" action="/dash/geofinder" method="post">
                        <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                        <input type="hidden" name="goto" class="hidden-field" value="dash_geofinder"></input>
                        <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                        <input type="hidden" name="bttn" class="hidden-field" value="dash_geofinder"></input>
                        <button name="breadcrumb" class="bttn bttn-xsmall bttn-naked" type="submit">Search History: Geofinder</button>
                    </form>

                </div>
                
                <!-- Page - Title -->
                <div class="pages-title">

                    <div class="pages-title-left">
                        Geofinder
                    </div>

                    <div class="pages-title-right" style="min-width: 225px; font-size: 18px;">
                        {% if content|length > 0 %}
                            {% if content[0]["geofinder_date"].strftime('%Y-%m-%d') == today %}
                                {% if content[0]["geo_game_submit_validation"] %}
                                    {% if content[0]["geo_game_submit_validation"] > 0 %}
                                        Next Game in
                                    {% else %}
                                        Game Ends in
                                    {% endif %}
                                {% else %}
                                    Game Ends in
                                {% endif %}
                            {% else %}
                                Game Ends in
                            {% endif %}
                        {% else %}
                            Game Ends in
                        {% endif %}
                        &nbsp;<span id="countdown"></span>
                        <script>
                            const countdownToMidnight = () => {
                                let now = new Date();
                                let midnight = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1, 0, 0, 0);
                                let diffInSeconds = Math.floor((midnight - now) / 1000);

                                let hours = Math.floor(diffInSeconds / 3600);
                                diffInSeconds %= 3600;
                                let minutes = Math.floor(diffInSeconds / 60);
                                let seconds = diffInSeconds % 60;

                                document.getElementById("countdown").innerHTML = `${hours}h ${minutes}m ${seconds}s`;

                                if(hours === 0 && minutes === 0 && seconds === 0) {
                                    clearInterval(countdown);
                                }
                            }
                            const countdown = setInterval(countdownToMidnight, 1000);
                        </script>
                    </div>

                </div>

                <!-- Page - Content - DASH - Main - GEO50X -->
                <div class="pages-content">
                    
                    <!-- Page - Content - DASH - Header - GEO50X -->
                    <div class="pages-content-header">

                        <!-- Total Found -->
                        <div class="pages-content-header-item">
                            <!-- Item - Icon -->
                            <div class="pages-content-header-item-icon">
                                <span class="material-symbols-outlined" style="font-size: 46px;">
                                    travel_explore
                                </span>
                            </div>
                            <!-- Item - Info -->
                            <div class="pages-content-header-item-info">
                                <!-- Item - Info - Value -->
                                <div class="pages-content-header-item-info-value">
                                    {% if header.total_found %}
                                        {{ header.total_found }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>
                                <!-- Item - Info - Label -->
                                <div class="pages-content-header-item-info-label">
                                    Total Found
                                </div>
                            </div>
                        </div>

                        <!-- Current Streak -->
                        <div class="pages-content-header-item">
                            <!-- Item - Icon -->
                            <div class="pages-content-header-item-icon">
                                <span class="material-symbols-outlined" style="font-size: 46px;">
                                    clock_loader_10
                                </span>
                            </div>
                            <!-- Item - Info -->
                            <div class="pages-content-header-item-info">
                                <!-- Item - Info - Value -->
                                <div class="pages-content-header-item-info-value">
                                    {% if header.current_streak == 0 %}
                                        --
                                    {% elif header.current_streak == 1 %}
                                        {{ header.current_streak }} day
                                    {% else %}
                                        {{ header.current_streak }} days
                                    {% endif %}
                                </div>
                                <!-- Item - Info - Label -->
                                <div class="pages-content-header-item-info-label">
                                    Current Streak
                                </div>
                            </div>
                        </div>

                        <!-- Total Found -->
                        <div class="pages-content-header-item">
                            <!-- Item - Icon -->
                            <div class="pages-content-header-item-icon">
                                <span class="material-symbols-outlined" style="font-size: 46px;">
                                    clock_loader_60
                                </span>
                            </div>
                            <!-- Item - Info -->
                            <div class="pages-content-header-item-info">
                                <!-- Item - Info - Value -->
                                <div class="pages-content-header-item-info-value">
                                    {% if header.longest_streak %}
                                        {% if header.longest_streak < 2 %}
                                            {{ header.longest_streak }} day
                                        {% else %}
                                            {{ header.longest_streak }} days
                                        {% endif %}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>
                                <!-- Item - Info - Label -->
                                <div class="pages-content-header-item-info-label">
                                    Longest Streak
                                </div>
                            </div>
                        </div>

                        <!-- Fastest Time -->
                        <div class="pages-content-header-item">
                            <!-- Item - Icon -->
                            <div class="pages-content-header-item-icon">
                                <span class="material-symbols-outlined" style="font-size: 46px;">
                                    sprint
                                </span>
                            </div>
                            <!-- Item - Info -->
                            <div class="pages-content-header-item-info">
                                <!-- Item - Info - Value -->
                                <div class="pages-content-header-item-info-value">
                                    {% if header.fastest_time %}
                                        {{ header.fastest_time }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>
                                <!-- Item - Info - Label -->
                                <div class="pages-content-header-item-info-label">
                                    Fastest Time
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <!-- Page - Content - DASH - Table - GEO50X -->
                    <div class="pages-dashboard-content" style="padding: 0 !important;">

                        {% if content|length > 0 %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-start">#</th>
                                    <th class="text-start">Search Area</th>
                                    <th class="text-start-center">Found</th>
                                    <th class="text-start-center">Total Time</th>
                                    <th class="text-start-center">Score</th>
                                    <th class="text-start-center"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {%- for c in content %}
                                <tr>
                                    <!-- Date -->
                                    <td class="text-start">
                                        {{ c.geofinder_date }}
                                    </td>
                                    <!-- Search Area -->
                                    <td class="text-start">
                                        {{ c.loc_city }}, {{ c.loc_state }} {{ c.loc_country }}
                                    </td>
                                    <!-- Found -->
                                    <td class="text-start-center">
                                        {% if c.geo_game_submit_validation == 0 %}
                                            {% if c.geofinder_date.strftime('%Y-%m-%d') == today %}
                                                <form name="submit" action="/" method="post">
                                                    <input type="hidden" name="current-game-id" class="hidden-field" value="0"></input>
                                                    <input type="hidden" name="page" class="hidden-field" value="index"></input>
                                                    <input type="hidden" name="goto" class="hidden-field" value="geofinder_game"></input>
                                                    <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                                                    <input type="hidden" name="bttn" class="hidden-field" value="again"></input>
                                                    <button class="bttn bttn-xsmall bttn-primary" type="submit">
                                                        Try Again
                                                    </button>
                                                </form>
                                            {% else %}
                                                No
                                            {% endif %}

                                        <!-- Found - Yes -->    
                                        {% elif c.geo_game_submit_validation == 1 %}
                                                Yes
                                        <!-- Found - Quit -->
                                        {% elif c.geo_game_submit_validation == 2 %}
                                                No
                                        <!-- Found - Not Attempted -->
                                        {% else %}

                                            {% if c.geofinder_date.strftime('%Y-%m-%d') == today %}
                                                <form name="submit" action="/" method="post">
                                                    <input type="hidden" name="current-game-id" class="hidden-field" value="0"></input>
                                                    <input type="hidden" name="page" class="hidden-field" value="index"></input>
                                                    <input type="hidden" name="goto" class="hidden-field" value="geofinder_game"></input>
                                                    <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                                                    <input type="hidden" name="bttn" class="hidden-field" value="start"></input>
                                                    <button class="bttn bttn-xsmall bttn-primary" type="submit">
                                                        Start
                                                    </button>
                                                </form>
                                            {% else %}
                                                --
                                                <!-- NOT SUPPORTED YET
                                                <form>
                                                    <button class="bttn bttn-xsmall" type="submit">Start</button>
                                                </form>
                                                -->
                                            {% endif %}

                                        {% endif %}
                                    </td>
                                    <!-- Total Time -->
                                    <td class="text-start-center">
                                        <!-- Total Time - Found - No -->
                                        {% if c.geo_game_submit_validation == 0 %}
                                            {% if loop.first %}
                                                {% if c.geo_game_start %}
                                                    {% if loop.first %}
                                                        --
                                                    {% else %}
                                                        na
                                                    {% endif %}
                                                {% else %}
                                                    --
                                                {% endif %}
                                            {% else %}
                                                    --
                                            {% endif %}
                                        <!-- Total Time - Found - Yes -->    
                                        {% elif c.geo_game_submit_validation == 1 %}
                                            {{ c.geo_game_duration_total }}
                                        <!-- Total Time - Found - Quit -->
                                        {% elif c.geo_game_submit_validation == 2 %}
                                            na
                                        <!-- Total Time - Found - Not Attempted -->
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <!-- Score -->
                                    <td class="text-start-center">
                                        <!-- Score - Found - No -->
                                        {% if c.geo_game_submit_validation == 0 %}
                                            {% if c.geo_game_start %}
                                                {% if c.geo_game_start %}
                                                    {% if loop.first %}
                                                        --
                                                    {% else %}
                                                        na
                                                    {% endif %}
                                                {% else %}
                                                    --
                                                {% endif %}
                                            {% else %}
                                                --
                                            {% endif %}
                                        <!-- Score - Found - Yes -->    
                                        {% elif c.geo_game_submit_validation == 1 %}
                                            <!-- {{ c.geo_game_score_base|int + c.geo_game_score_bonus|int }} -->
                                            100
                                        <!-- Score - Found - Quit -->
                                        {% elif c.geo_game_submit_validation == 2 %}
                                            0
                                        <!-- Score - Found - Not Attempted -->
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <!-- Review - Buttons -->
                                    <td class="text-start-center">
                                        <!-- Review - Found - No -->
                                        {% if c.geo_game_submit_validation == 0 %}
                                            {% if c.geo_game_start %}

                                                {% if c.geo_game_start %}
                                                    {% if loop.first %}
                                                        --
                                                    {% else %}
                                                        <form name="router" action="/dash/geofinder" method="post">
                                                        <input type="hidden" name="page" class="hidden-field" value="dash_geofinder"></input>
                                                        <input type="hidden" name="goto" class="hidden-field" value="review"></input>
                                                        <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                                                        <input type="hidden" name="bttn" class="hidden-field" value="review"></input>
                                                        <input type="hidden" name="review" class="hidden-field" value="{{ c.geofinder_id }}"></input>
                                                        <button name="router" class="bttn bttn-xsmall" type="submit">
                                                            Review
                                                        </button>
                                                    {% endif %}
                                                {% else %}
                                                    --
                                                {% endif %}
                                            </form>
                                            {% else %}
                                                --
                                            {% endif %}
                                        <!-- Review - Found - Yes -->    
                                        {% elif c.geo_game_submit_validation == 1 %}
                                            
                                            <form name="router" action="/dash/geofinder" method="post">
                                                <input type="hidden" name="page" class="hidden-field" value="dash_geofinder"></input>
                                                <input type="hidden" name="goto" class="hidden-field" value="review"></input>
                                                <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                                                <input type="hidden" name="bttn" class="hidden-field" value="review"></input>
                                                <input type="hidden" name="review" class="hidden-field" value="{{ c.geofinder_id }}"></input>
                                                <button name="router" class="bttn bttn-xsmall" type="submit">
                                                    Review
                                                </button>
                                            </form>

                                        <!-- Review - Found - Quit -->
                                        {% elif c.geo_game_submit_validation == 2 %}

                                            <form name="router" action="/dash/geofinder" method="post">
                                                <input type="hidden" name="page" class="hidden-field" value="dash_geofinder"></input>
                                                <input type="hidden" name="goto" class="hidden-field" value="review"></input>
                                                <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                                                <input type="hidden" name="bttn" class="hidden-field" value="review"></input>
                                                <input type="hidden" name="review" class="hidden-field" value="{{ c.geofinder_id }}"></input>
                                                <button name="router" class="bttn bttn-xsmall" type="submit">
                                                    Review
                                                </button>
                                            </form>

                                        <!-- Review - Found - Not Attempted -->
                                        {% else %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td class="border-0" colspan="10">
                                        &nbsp;
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                        {% else %}
                        <div class="container-bottom-history-message">
                            <br>
                            You have not started Geofinder yet
                        </div>
                        {% endif %}

                    </div>

                </div>
            
            </div>

        </div>
            

    </div>

</div>

{% endblock %}








