{% extends "layout.html" %}

{% block mapscript %}
<script type="module" src="/static/scripts_map2.js"></script>
{% endblock %}

{% block main %}

<div class="container-bottom-map" id="map" 
    map-lat="{{ location.loc_view_lat}}"
    map-lng="{{ location.loc_view_lng }}" 
    map-lat-offset="{{ loc_lat_game_offset }}" 
    map-zoom="18">

    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "{{ map_api_key }}", v: "beta" });</script>

</div>

<div class="container-bottom-image-main">

    <div class="container-bottom-image-top">
        <div class="container-bottom-image-top-left">
            Location ID: {{ location.id }}<br>
            {{ location.loc_city }}, {{ location.loc_state }} {{ location.loc_country }}
        </div>
        <div class="container-bottom-image-top-right">
            <div id="clock" class="container-bottom-image-top-right-clock"></div>
                <script>
                setInterval(updateClock, 1000); // Update every 1 second

                function updateClock() {
                    var startTime = new Date();
                    startTime.setHours(parseInt("{{ clock.hour }}"), parseInt("{{ clock.minute }}"), parseInt("{{ clock.second }}"), 0)
                    var currentTime = new Date();

                    var elapsedSeconds = Math.floor(currentTime.getTime() / 1000) - Math.floor(startTime.getTime() / 1000);

                    var hours = Math.floor(elapsedSeconds / 3600);
                    var minutes = Math.floor((elapsedSeconds % 3600) / 60);
                    var seconds = elapsedSeconds % 60;

                    var timeString = hours.toString().padStart(2, "0") + ":" +
                                    minutes.toString().padStart(2, "0") + ":" +
                                    seconds.toString().padStart(2, "0");

                    document.getElementById("clock").innerHTML = timeString;
                }
                </script>
        </div>
    </div>

    <img src="{{ location.loc_image_source }}" width="400px"><br>

    <div class="container-bottom-image-source">
        <a href="{{ location.loc_url_source }}" target="_blank" rel="noopener noreferrer">source</a>
    </div>

    <div class="container-bottom-image-buttons">
        <div class="container-bottom-image-buttons-left">
            <div class="container-bottom-image-buttons-new">
                <form name="submit" action="/traffic" method="post">
                    <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                    <input type="hidden" name="goto" class="hidden-field" value="game"></input>
                    <input type="hidden" name="try-again" class="hidden-field" value="0"></input>
                    <button name="router" class="bttn bttn-small bttn-primary" type="submit">New Search</button>
                </form>
            </div>
            <div class="container-bottom-image-buttons-stop">
                <form name="submit" action="/traffic" method="post">
                    <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                    <input type="hidden" name="goto" class="hidden-field" value="index"></input>
                    <input type="hidden" name="try-again" class="hidden-field" value="0"></input>
                    <button name="router" class="bttn bttn-small bttn-naked" type="submit">Stop Search</button>
                </form>
            </div>
        </div> 
        <div class="container-bottom-image-buttons-right">
            <div class="container-bottom-image-buttons-quit">
                <form name="submit" action="/traffic" method="post">
                    <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                    <input type="hidden" name="goto" class="hidden-field" value="zero"></input>
                    <input type="hidden" name="try-again" class="hidden-field" value="0"></input>
                    <button name="router" class="bttn bttn-small bttn-naked" style="color: gray;" type="submit">Quit Location</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
            
<script type="text/javascript" charset="utf-8">
var socket = io();
socket.on('connect', function() {
    socket.emit('my event', {data: 'Game started!'});
});
</script>


{% endblock %}