{% extends "game_layout.html" %}

{% block mapscript %}
<script type="module" src="/static/game_map_general.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block main %}

<div class="container-bottom-map" id="map" map-lat="41.85732" map-lng="-87.778546" map-zoom="17">

    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "{{ map_api_key }}", v: "beta" });</script>

</div>

<div class="container-bottom-general-main">

    <div class="container-bottom-general-top">
    </div>

    <div class="container-bottom-general-bottom">

        <!-- General Content -->
        <div class="container-bottom-general-content">

            <!-- Page -->
            <div class="pages">

                <!-- Page - Breadcrumb -->
                <div class="pages-breadcrumb">
                    
                    <form name="submit" action="/nav" method="post">
                        <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                        <input type="hidden" name="goto" class="hidden-field" value="index"></input>
                        <input type="hidden" name="nav" class="hidden-field" value="yes"></input>
                        <input type="hidden" name="bttn" class="hidden-field" value="index"></input>
                        <button name="breadcrumb" class="bttn bttn-xsmall bttn-naked" type="submit">Start</button>
                    </form>

                    <form>
                        <button class="bttn bttn-separator" type="submit" disabled>/</button>
                    </form>

                    <form name="submit" action="/dash/fifty" method="post">
                        <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                        <input type="hidden" name="goto" class="hidden-field" value="dash"></input>
                        <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                        <input type="hidden" name="bttn" class="hidden-field" value="dash"></input>
                        <button name="breadcrumb" class="bttn bttn-xsmall bttn-naked" type="submit">Dashboard</button>
                    </form>

                    <form>
                        <button class="bttn bttn-separator" type="submit" disabled>/</button>
                    </form>

                    <form name="submit" action="/dash/fifty" method="post">
                        <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                        <input type="hidden" name="goto" class="hidden-field" value="dash_fifty"></input>
                        <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                        <input type="hidden" name="bttn" class="hidden-field" value="dash_fifty"></input>
                        <button name="breadcrumb" class="bttn bttn-xsmall bttn-naked" type="submit">Search History: Geo50x</button>
                    </form>

                </div>
                
                <!-- Page - Title -->
                <div class="pages-title">

                    <div class="pages-title-left">
                        Geo50x Challenge
                    </div>

                    <div class="pages-title-right">
                        {% if content|length == 50 %}
                        <div class="cpages-title-right-found">
                            Congratulations! You completed the challenge!
                        </div>
                        {% else %}
                        <form name="submit" action="/fifty" method="post">
                            <input type="hidden" name="current-game-id" class="hidden-field" value="0"></input>
                            <input type="hidden" name="page" class="hidden-field" value="profile_fifty"></input>
                            <input type="hidden" name="goto" class="hidden-field" value="fifty_start"></input>
                            <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                            <input type="hidden" name="bttn" class="hidden-field" value="fifty"></input>
                            <input type="hidden" name="try-again" class="hidden-field" value="0"></input>
                            <button class="bttn bttn-medium bttn-primary" type="submit">Play Challenge</button>
                        </form>
                        {% endif %}
                    </div>

                </div>

                <!-- Page - Content - PROFILE - Main - GEO50X -->
                <div class="pages-content">
                    
                    <!-- Page - Content - PROFILE - Header - GEO50X -->
                    <div class="pages-content-header">

                        <!-- Score Percentage -->
                        <div class="pages-content-header-item">
                            <!-- Item - Icon -->
                            <div class="pages-content-header-item-icon">
                                <span class="material-symbols-outlined" style="font-size: 46px;">
                                    award_star
                                </span>
                            </div>
                            <!-- Item - Info -->
                            <div class="pages-content-header-item-info">
                                <!-- Item - Info - Value -->
                                <div class="pages-content-header-item-info-value">
                                    {{ header.user_score_percentage }}%
                                </div>
                                <!-- Item - Info - Label -->
                                <div class="pages-content-header-item-info-label">
                                    Total {{ header.user_score_total }} pts out of {{ header.user_score_possible }}
                                </div> 
                            </div>
                        </div>

                        <!-- Locations Found -->
                        <div class="pages-content-header-item">
                            <!-- Item - Icon -->
                            <div class="pages-content-header-item-icon">
                                <span class="material-symbols-outlined" style="font-size: 46px;">
                                    home_pin
                                </span>
                            </div>
                            <!-- Item - Info -->
                            <div class="pages-content-header-item-info">
                                <!-- Item - Info - Value -->
                                <div class="pages-content-header-item-info-value">
                                    {{ header.user_count_loc }}
                                </div>
                                <!-- Item - Info - Label -->
                                <div class="pages-content-header-item-info-label">
                                    Found out of 50
                                </div>
                            </div>
                        </div>

                        <!-- Average Time per Attempt -->
                        <div class="pages-content-header-item">
                            <!-- Item - Icon -->
                            <div class="pages-content-header-item-icon">
                                <span class="material-symbols-outlined" style="font-size: 46px;">
                                    timer
                                </span>
                            </div>
                            <!-- Item - Info -->
                            <div class="pages-content-header-item-info">
                                <!-- Item - Info - Value -->
                                <div class="pages-content-header-item-info-value">
                                    {{ header.user_duration_average|round }} secs
                                </div>
                                <!-- Item - Info - Label -->
                                <div class="pages-content-header-item-info-label">
                                    Avg Time per Attempt
                                </div>
                            </div>
                        </div>

                        <!-- Average Offset per Attempt -->
                        <div class="pages-content-header-item">
                            <!-- Item - Icon -->
                            <div class="pages-content-header-item-icon">
                                <span class="material-symbols-outlined" style="font-size: 46px;">
                                    route
                                </span>
                            </div>
                            <!-- Item - Info -->
                            <div class="pages-content-header-item-info">
                                <!-- Item - Info - Value -->
                                <div class="pages-content-header-item-info-value">
                                    {{ header.user_offset_avg }} ft
                                </div>
                                <!-- Item - Info - Label -->
                                <div class="pages-content-header-item-info-label">
                                    Avg Offset per Attempt
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <!-- Page - Content - PROFILE - Table - GEO50X -->
                    <div class="pages-profile-content" style="padding: 0 !important;">

                        {% if content|length > 0 %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-start">#</th>
                                    <th class="text-start">Search Area</th>
                                    <th class="text-start-center">Found</th>
                                    <th class="text-start-center"></th>
                                    <th class="text-start-center">Attempts</th>
                                    <th class="text-start-center">Total <br>Time (secs)</th>
                                    <th class="text-start-center">Avg Time <br>per Attempt</th>
                                    <th class="text-start-center">Avg Offset <br>per Attempt (ft)</th>
                                    <th class="text-start-center">Score</th>
                                    <th class="text-start-center"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {%- for c in content %}
                                <tr>
                                    <td class="text-start">{{ c.fifty_game_loc_id }}</td>
                                    <td class="text-start">{{ c.loc_city }}, {{ c.loc_state }}, {{ c.loc_country }}</td>
                                    <td class="text-start-center">{{ c.found.upper() }}</td>
                                    <td class="text-start-center">
                                        {% if c.found|default("-", True) == "-" %}
                                        <form name="router" action="/fifty" method="post">
                                            <input type="hidden" name="page" class="hidden-field" value="fifty_result"></input>
                                            <input type="hidden" name="goto" class="hidden-field" value="fifty_start"></input>
                                            <input type="hidden" name="try-again" class="hidden-field" value="1"></input>
                                            <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                                            <input type="hidden" name="bttn" class="hidden-field" value="again"></input>
                                            <input type="hidden" name="loc" class="hidden-field" value="{{ c.fifty_game_loc_id }}"></input>
                                            <button class="bttn bttn-xsmall bttn-primary" type="submit">Try Again</button>
                                        </form>
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td class="text-start-center">{{ c.total_attempts }}</td>
                                    <td class="text-start-center">
                                        {% if c.found|default("-", True) == "-" %}-{% else %}{{ c.total_duration }}{% endif %}
                                    </td>
                                    <td class="text-start-center">
                                        {% if c.found|default("-", True) == "-" %}-{% else %}{{ c.avg_time }}{% endif %}
                                    </td>
                                    <td class="text-start-center">
                                        {% if c.found|default("-", True) == "-" %}
                                            -
                                        {% else %}
                                            {% if c.avg_offset == None %}
                                                &#248;
                                            {% else %}
                                                {{ c.avg_offset }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="text-start-center">{% if c.found|default("-", True) == "-" %}-{% else %}{{ c.score }}{% endif %}</td>
                                    <td class="text-start-center">
                                        {% if c.found|default("-", True) == "Y" or c.found|default("-", True) == "N" %}
                                        <form name="router" action="/dash/fifty" method="post">
                                            <input type="hidden" name="page" class="hidden-field" value="dash_fifty"></input>
                                            <input type="hidden" name="goto" class="hidden-field" value="fifty_review"></input>
                                            <input type="hidden" name="try-again" class="hidden-field" value="0"></input>
                                            <input type="hidden" name="review" class="hidden-field" value="{{ c.fifty_game_loc_id }}"></input>
                                            <input type="hidden" name="nav" class="hidden-field" value="no"></input>
                                            <input type="hidden" name="bttn" class="hidden-field" value="review"></input>
                                            <button class="bttn bttn-xsmall" type="submit">Review</button>
                                        </form>
                                        {% else %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td class="border-0" colspan="10">
                                        &nbsp;
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                        {% else %}

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-start">#</th>
                                        <th class="text-start">Search Area</th>
                                        <th class="text-start-center">Found</th>
                                        <th class="text-start-center"></th>
                                        <th class="text-start-center">Attempts</th>
                                        <th class="text-start-center">Total <br>Time (secs)</th>
                                        <th class="text-start-center">Avg Time <br>per Attempt</th>
                                        <th class="text-start-center">Avg Offset <br>per Attempt (ft)</th>
                                        <th class="text-start-center">Score</th>
                                        <th class="text-start-center"></th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                </tbody>
    
                                <tfoot>
                                    <tr>
                                        <td class="border-0" colspan="10">
                                            <div class="container-bottom-history-message">
                                                <br>
                                                You have not started the challenge yet
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
    
                            </table>
                        
                        {% endif %}

                    </div>

                </div>
            
            </div>

        </div>
            

    </div>

</div>

{% endblock %}








