{% extends "layout.html" %}

{% block mapscript %}
<script type="module" src="/static/map_general.js"></script>
{% endblock %}

{% block main %}

<div class="container-bottom-map" id="map" map-lat="41.85732" map-lng="-87.778546" map-zoom="17">

    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "{{ map_api_key }}", v: "beta" });</script>

</div>

<div class="container-bottom-login-main">

    <div class="container-bottom-login-top">
    </div>

    <div class="container-bottom-login-bottom">

        <div class="container-bottom-login-bottom-content">

            {%- filter indent(width=8) -%}

            <div class="container-bottom-history">
                
                <div class="container-bottom-history-table">
                    
                    <main class="container">
                        
                        <div class="container-bottom-history-title">
                            <div class="container-bottom-history-title-left">
                                Search History
                            </div>

                            <div class="container-bottom-history-title-right">
                                {% if locs_playable_count == 0 %}
                                <div class="container-bottom-history-title-right-found">
                                    Congratulations! You found all locations! More on the way...
                                </div>
                                {% else %}
                                <form name="submit" action="/game" method="post">
                                    <input type="hidden" name="answer-lat" class="hidden-field" value="new-game"></input>
                                    <button class="btn btn-primary" type="submit">Start Game</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>

                        {% if history|length > 0 %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-start">Location ID</th>
                                    <th class="text-start">Search Area</th>
                                    <th class="text-start-center">Found</th>
                                    <th class="text-start-center"></th>
                                    <th class="text-start-center">Attempts</th>
                                    <th class="text-start-center">Total <br>Time (min)</th>
                                    <th class="text-start-center">Avg Time <br>per Attempt</th>
                                    <th class="text-start-center">Avg Offset <br>per Attempt (ft)</th>
                                    <th class="text-start-center">Score</th>
                                </tr>
                            </thead>

                            <tbody>
                                {%- for h in history %}
                                <tr>
                                    <td class="text-start">{{ h.loc_id }}</td>
                                    <td class="text-start">{{ h.loc_city }}, {{ h.loc_state }}, {{ h.loc_country }}</td>
                                    <td class="text-start-center">{{ h.found.upper() }}</td>
                                    <td class="text-start-center">
                                        {% if h.found|default("-", True) == "-" %}
                                        <form name="router" action="/traffic" method="post">
                                            <input type="hidden" name="page" class="hidden-field" value="history"></input>
                                            <input type="hidden" name="goto" class="hidden-field" value="game_again"></input>
                                            <input type="hidden" name="try-again" class="hidden-field" value="1"></input>
                                            <input type="hidden" name="try-again-loc-id" class="hidden-field" value="{{ h.loc_id }}"></input>
                                            <button class="btn btn-primary btn-xs" type="submit">Try Again</button>
                                        </form>
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td class="text-start-center">{{ h.total_attempts }}</td>
                                    <td class="text-start-center">{% if h.found|default("-", True) == "-" %}-{% else %}{{ h.total_duration }}{% endif %}</td>
                                    <td class="text-start-center">{% if h.found|default("-", True) == "-" %}-{% else %}{{ h.avg_time }}{% endif %}</td>
                                    <td class="text-start-center">{% if h.found|default("-", True) == "-" %}-{% else %}{% if h.avg_offset == None %}&#248;{% else %}{{ h.avg_offset }}{% endif %}{% endif %}</td>
                                    <td class="text-start-center">{% if h.found|default("-", True) == "-" %}-{% else %}{{ h.score }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td class="border-0" colspan="10">
                                        &nbsp;
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                        {% else %}
                        <div class="container-bottom-history-message">
                            You have not played a game yet
                        </div>
                        {% endif %}

                    </main>

                </div>
                
            </div>

            {%- endfilter -%}


        </div>
            

    </div>

</div>

{% endblock %}








