{% extends "layout.html" %}

{%- block mapscript -%}
<script type="module" src="/static/map_general.js"></script>
{%- endblock -%}

{% block main %}

<div class="container-bottom-map" id="map" map-lat="41.85732" map-lng="-87.778546" map-zoom="17">

    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "{{ map_api_key }}", v: "beta" });</script>

</div>

<div class="container-bottom-genpage">

    <div class="container-bottom-genpage-main">

        <div class="container-bottom-genpage-main-content">

            <div class="container-bottom-genpage-main-content-top">

                <div class="container-bottom-genpage-main-content-top-title">
                    How To Play
                </div>
                
                <div class="container-bottom-genpage-main-content-top-buttons">
                    {% if session["user_id"] %}
                    <div class="infowindow-index-button-right">
                        <form name="submit" action="/game" method="post">
                            <input type="hidden" name="answer-lat" class="hidden-field" value="new-game"></input>
                            <button class="bttn bttn-small bttn-primary" style="margin: 0 0 0 10px;" type="submit">Start Search</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="infowindow-index-button-right">
                        {% set new_registration_status = "" if new_registrations else "disabled" %}
                        {% set new_registration_status_button = "bttn-primary" if new_registrations else "" %}
                        <form name="submit" action="/register" method="get">
                            <button class="bttn bttn-small {{ new_registration_status_button }}" style="margin: 0 0 0 10px;" type="submit" {{ new_registration_status }}>Register</button>
                        </form>
                    </div>
                    <div class="infowindow-index-button-right">
                        <form name="submit" action="/login" method="get">
                            <button class="bttn bttn-small bttn-primary" style="margin: 0 0 0 10px;" type="submit">Log In</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                
            </div>

            <div class="container-bottom-genpage-main-content-body">

                <div class="container-bottom-genpage-main-content-body-main">
                    <ol type="1">
                        <li>You are given a photo of the exterior of a house somewhere in the world.</li>
                        <li>Circled on the map is the search area where you are to find that house.</li>
                        <li>You can zoom, pan, tilt and rotate the map. You can even go into Street View mode.</li>
                        <li>The photo is sourced from an Airbnb short-term rental ad. A link is provided in case the
                            public listing has additional useful clues.</li>
                        <li>If you think you have located the house, click it on the map and then the "Submit" button that pops
                            up.</li>
                        <li>If you get it wrong, you can try again. Or search a different house.</li>
                        <li>Have fun exploring the world one house at a time!</li>
                    </ol>
                </div>

                <div class="container-bottom-genpage-main-content-body-subsection">
                    <div class="container-bottom-genpage-main-content-body-subsection-title">
                        SCORING
                    </div>
                    <div class="container-bottom-genpage-main-content-body-subsection-body">
                        <ol type="1">
                            <li>Your total score is the combination of your base and bonus scores.</li>
                            <li>The max base score is 50.</li>
                            <ol type="a">
                                <li>You get the max base score if you find the correct house.</li>
                                <li>You get 0 if you submit the wrong house.</li>
                                <li>You are allowed multiple attempts.</li>
                                <ol type="i">
                                    <li>On the second attempt, the max base score is lowered to 40.</li>
                                    <li>On the the third attempt, 30.</li>
                                    <li>Further attempts will not lower the max base score.</li>
                                    <li>If you leave the game page such as stoping the game, navigating to another page or closing the window/tab within 
                                        10 seconds, the current game will not be counted as an attempt.</li>
                                </ol>
                            </ol>
                            <li>The max bonus score is 50.</li>
                            <ol type="a">
                                <li>The bonus score is based on how long it takes you to find the correct house.</li>
                                <li>A multiplier is calculated using the formula: <i>e</i><sup>−0.0054(x-1)<sup>2</sup></sup>, where
                                    <i>x</i> is the time elapsed to find the house.
                                </li>
                                <li><i>x</i> is cumulative, so times in previous attempts are included.</li>
                                <li>Essentially you get the full 50 bonus points if you find the house in 2 minutes or less. You get
                                    1 point if found in 30 minutes. After 30 minutes, no bonus.</li>
                            </ol>
                            <li>So if you find the house on your first attempt and in 2 minutes or less, you get 100 points.</li>
                            <li>If you quit a location, the answer will be revealed as the anchor of the results info window. No further 
                                attempts will be allowed and your total score will be recorded as 0 for that location.</li>
                        </ol>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}