{% extends "layout.html" %}

{% block mapscript %}
<script type="module" src="/static/map_general.js"></script>
{% endblock %}

{% block main %}

<div class="container-bottom-map" id="map" map-lat="41.85732" map-lng="-87.778546" map-zoom="17">

    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "{{ map_api_key }}", v: "beta" });</script>

</div>

<div class="container-bottom-login-main">

    <div class="container-bottom-login-top">
    </div>

    <div class="container-bottom-login-bottom">

        <div class="container-bottom-login-bottom-content">

            {%- filter indent(width=8) -%}

            <div class="container-bottom-history">
                
                <div class="container-bottom-history-table">
                    
                    <main class="container">
                        
                        <div class="container-bottom-history-title">
                            <div class="container-bottom-history-title-left">
                                Locations
                            </div>

                            <div class="container-bottom-history-title-right">
                                <form name="refresh" action="/locs" method="post">
                                    <input type="hidden" name="page" class="hidden-field" value="{{ page }}"></input>
                                    <input type="hidden" name="goto" class="hidden-field" value="locs"></input>
                                    <input type="hidden" name="loc-edit" class="hidden-field" value="0"></input>
                                    <button class="btn btn-primary" type="submit">Validate Locations</button>
                                </form>
                            </div>
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-start">Loc ID</th>
                                    <th class="text-start">Loc Internal ID</th>
                                    <th class="text-start">Place</th>
                                    <th class="text-start">Source</th>
                                    <th class="text-start-center">Is Playable<sup>1</sup></th>
                                    <th class="text-start-center">Is Removed<sup>a</sup></th>
                                    <th class="text-start-center">Is Active<sup>b</sup></th>
                                    <th class="text-start-center">Has Image<sup>c</sup></th>
                                    <th class="text-start-center">Has Valid Key<sup>d</sup></th>
                                    <th class="text-start"></th>

                                </tr>
                            </thead>

                            <tbody>
                                {%- for k in keys %}
                                <tr>
                                    <td class="text-start">{{ k.id }}</td>
                                    <td class="text-start">{{ k.loc_internal_id }}</td>
                                    <td class="text-start">{{ k.loc_city }}, {{ k.loc_state }} {{ k.loc_country }}</td>
                                    <td class="text-start"><a href="{{ k.loc_url_source }}" target="_blank" rel="noopener noreferrer">link</a></td>
                                    <!-- Is Playable -->
                                    <td class="text-start-center">
                                        {% if k.loc_playable == True %}
                                        yes
                                        {% else %}
                                        <span style="color: #ff5645 !important;">NO</a>
                                        {% endif %}
                                    </td>
                                        <!-- Is Removed -->
                                        <td class="text-start-center">
                                            {% if k.loc_removed == False %}
                                            no
                                            {% else %}
                                            <span style="color: #ff5645 !important;">YES</a>
                                            {% endif %}
                                        </td>
                                    <!-- Is Active -->
                                    <td class="text-start-center">
                                        {% if k.loc_url_valid == True %}
                                        yes
                                        {% else %}
                                        <span style="color: #ff5645 !important;">NO</a>
                                        {% endif %}
                                    </td>
                                    <!-- Has Image -->
                                    <td class="text-start-center">
                                        {% if k.loc_image_valid == True %}
                                        yes
                                        {% else %}
                                        <span style="color: #ff5645 !important;">NO</a>
                                        {% endif %}
                                    </td>
                                    <!-- Has Shapefile -->
                                    <td class="text-start-center">
                                        {% if k.loc_key_shp %}
                                        yes
                                        {% else %}
                                        <span style="color: #ff5645 !important;">NO</a>
                                        {% endif %}
                                    </td>
                                    <td class="text-start-center">
                                        <form name="router" action="/locs" method="post">
                                            <input type="hidden" name="page" class="hidden-field" value="locs"></input>
                                            <input type="hidden" name="goto" class="hidden-field" value="locs-edit"></input>
                                            <input type="hidden" name="try-again" class="hidden-field" value="0"></input>
                                            <input type="hidden" name="loc-edit" class="hidden-field" value="{{ k.id }}"></input>
                                            <button class="btn btn-xs-review" type="submit">Review/Edit</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td class="border-0" colspan="10">
                                        &nbsp;
                                    </td>
                                </tr>
                            </tfoot>

                        </table>

                        <div class="container-bottom-history-footer">
                            <sup>1</sup> Is Playable:<br>
                            <sup>a</sup> Is Removed:<br>
                            <sup>b</sup> Is Active:<br>
                            <sup>c</sup> Has Image:<br>
                            <sup>d</sup> Has Valid Key:<br>
                        </div>

                    </main>

                </div>
                
            </div>

            {%- endfilter -%}


        </div>
            

    </div>

</div>

{% endblock %}








